.l-Container{
    max-width: $max-width;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: auto;
    margin-left: auto;
}


.VideoContainer {
    height         : 0;
    overflow       : hidden;
    padding-bottom : 56.25%;
    position       : relative;
    > iframe,
    > video,
    > .Video {
      position : absolute;
      top      : 0;
      left     : 0;
      width    : 100%;
      height   : 100%;
    }
  }
