.nav{
  height: 100%;

  &-list{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;

  }
  &-item{
    list-style: none;
  }
  &-link{
    text-decoration: none;
    padding: 1rem;
  }
}